@charset "UTF-8";

html{
    overflow: hidden;
}
/* 스크롤바 없애기 */

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
/* .content 요소의 높이를 전체 화면으로 (viewport) 설정하기 위해
먼저 html, body 요소의 높이를 설정*/

.content{
    width: 100%;
    height: 100%;
    /* %단위의 기준은 부모인 html, body의 크기가 되므로 영역하나가
    전체 화면을 차지할 수 있음 
    */

    position: relative;
    /* h1 요소가 .content 요소의 영역을 기준으로 배치가 되도록
    포지션 값을 줌 
    */    
}

.content>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* .content 요소의 영역을 기준으로 가운데 배치 */
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}


.content:nth-child(4){
    background-color: cornflowerblue;
    /* .content 요소의 짝수 배경을 바꿔서 영역을 보기 좋게 색상 변경*/
}


