@charset "UTF-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GmarketSansMedium', sans-serif;
    list-style-type: none;
  }

  a{
    text-decoration: none;
    color: black;
  }

  html{
	overflow: hidden;
  }

  body {
    background: #fff;
    border: 0;
    padding: 0;
    flex-direction: column;
  }
 
 html, body{
	 /* 
	 1. 스크롤 전체 화면에 꽉 차도록 width height 값 100%
	 2. footer 아래에 붙어있으려면 height값 100%
	 */
	width: 100%;
	height: 100%; 
	margin: 0;
 }
 
  .map_img{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .map_img>img{
    width: 700px;
    height: 700px;
  }



@media (min-width : 1023px) {
  .liu .li1{
    position:  absolute;
    left: 50%;
    bottom: 0;
    animation-name: none;
    animation-duration : 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@media (min-width:768px) {
  .liu .li1 {
    display: inline-block;
    width: 100%;
    padding: 0;
    height: 50px;
  }
}


